*filter
:INPUT DROP [242:20832]
:FORWARD DROP [0:0]
:OUTPUT DROP [399:59364]
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A OUTPUT -p udp -m udp --dport 1194 -j ACCEPT
-A OUTPUT -o tun0 -j ACCEPT
-A OUTPUT -o lo -j ACCEPT
COMMIT
